ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul.tabs li {
    background: none;
    color: #222;
    display: inline-block;
    padding: 0.5em 1em;
    cursor: pointer;
    margin-bottom: 0;
}

ul.tabs li.current{
    background: #ededed;
    color: #000;
}

.tab-content{
    display: none;
    background: #ededed;
    padding: 1em;
}

.tab-content.current{
    display: inherit;
}


.player-container {
    margin-top: 1em;
    margin-bottom: 1em;
}

.timepoints {
    list-style: none;
    margin: 0.5em 0;
    height: 10em;
    overflow-y: scroll;
    border: 1px solid black;
    padding: 0.1em;

    ol {
        margin-top: 0.5em;
    }

    li {
        border: 1px solid black;
        padding: 0.5em;
        margin-bottom: 0.2em;
        margin-left: 0;
    }
}

#creator {
    form, div.formlike {
        padding: 1em;
        border: solid black 1px;

        div + div {
            margin-top: 1em;
        }

        .tp-single div + div {
            margin-top: 0;
        }

        input, select {
            display: inline;
            padding: 0.25em;
            margin-bottom: 0;
            border: 1px solid black;
        }

        input[type=text], #creator select {
            width: 15em;
        }

        input[type=number] {
            width: 5em;
        }

        label {
            /*display: inline-block;*/
            margin-right: 1em;
        }

        .picon {
            float: right;
        }

        li:not(:first-child) > .add-prompt {
            display: none;
        }

        li:first-child > .delete-prompt {
            display: none;
        }

        .tp-start ol {
            display: none;
        }

        .tp-single > div {
            display: inline-block;
        }

        .tp-start .delete-pause, .tp-start .add-choice {
            display: none;
        }

        .add-pause {
            display: block;
        }

        .player {
            width: 30em;
            min-height: 24em;
            background: black;
            margin-bottom: 0.5em;
        }

    }
}
