    {{#favorites}}
        {{^gameplays}}
        <p>_(Your favorites page is empty.)</p>
        {{/gameplays}}
    {{/favorites}}
    {{^favorites}}
        {{^gameplays}}
        <p>_(No gameplays found.)</p>
        {{/gameplays}}
    {{/favorites}}
    <ul class="thr-book-list">
        {{#gameplays}}
        <li class="selectable thr-colors" data-preview="{{preview}}" data-id="{{ID}}" lang="{{language}}" data-bust="{{bust}}">
            <a href="{{glink}}" target="_blank">
                <h2>{{title}}</h2>
                <p class="thr-author">{{author}}</p>
                {{#caution}}
                <img src="/theme/images/caution_t.png" class="thr-caution"
                     alt="_(May not be appropriate for all readers.|icon explanatory text)" title="_(May not be appropriate for all readers.|icon explanatory text)" />
                {{/caution}}
                <div class="thr-thumb-box">
                    <img src="{{thumbnail}}" class="thr-thumb" alt=" " />
                </div>
                <p class="thr-pages">{{duration}}</p>
            </a>
            <img src="/theme/images/FavoriteYesOverlay.png" class="favoriteYes" alt=" "/>
            <img src="/theme/images/FavoriteNoOverlay.png" class="favoriteNo" alt=" "/>
        </li>
        {{/gameplays}}
    </ul>
