<div id="creator">
    {{{script}}}
    <ul class="tabs">
        <li class="tab-link current" data-tab="basic">Basic</li>
        <li class="tab-link" data-tab="precise">Precise</li>
        <li class="tab-link" data-tab="advanced">Advanced</li>
    </ul>
    <div id="basic" class="tab-content current">
        <p>On this tab you can quickly create a basic interactive gameplay with a fixed interval between prompts.</p>

        <form id="basic-gameplay">
            <i class="fa fa-question-circle help" title="_(Click for help)"></i>
            <p class="help-text">
                Find a video you like on YouTube and copy the URL for the video from the URL bar of your browser. Then paste that URL into the box below and click the <span class="button">Load</span> button.
            </p>
            <label>YouTube Video ID (or URL)
                <input type="text" name="video" value="{{videoId}}" required
                       pattern="[a-zA-Z0-9_-]{11}" />
            </label>
            <button class="loadVideo thr-blue-button" disabled type="button">Load</button>
            <div class="player-container">
                <div class="player"></div>
            </div>
            <i class="fa fa-question-circle help" title="_(Click for help)"></i>
            <ul class="help-text">
                <li>Enter the number of seconds you want the video to play between pauses into the <span class="field">Pause every</span> field.</li>
                <li>Enter the prompt message in the <span class="field">Prompt</span> field.</li>
                <li>You may optionally adjust the start and end time by clicking in the field and either typing a number or by using the up and down arrow keys. Pressing up arrow will increase the time by 0.1 seconds, holding shift while pressing it will increase the time by 1 second. The video will advance as you adjust the time so that you can get it to just the right place.</li>
            </ul>

            <label>Pause every:
                <input type="number" name="interval" min="5" placeholder="Seconds"
                    title="Time in seconds between pauses."
                    value="{{interval}}" required />
            </label>
            <label>Prompt:
                <input type="text" name="message" placeholder="Enter message"
                    title="Message to display when the video pauses"
                    value="{{message}}" required />
            </label>
            <label>Start time:
                <input type="number" name="start" min="0" step="0.1" placeholder="seconds"
                    value="{{start}}" required />
            </label>
            <label>End time:
                <input type="number" name="end" min="0" step="0.1" placeholder="seconds"
                    value="{{end}}" required />
            </label>
            <br />
            <i class="fa fa-question-circle help" title="_(Click for help)"></i>
            <p class="help-text">
                Pressing the <span class="button">Play</span> button will open a new browser window where you can try your gameplay. You may share your newly created game with anyone simply by copying the URL from that window and sharing it with others. No one without the URL will be able to see it.
            </p>

            <button class="play thr-blue-button" type="button" disabled>Play</button>
        </form>
    </div>
    <div id="precise" class="tab-content">
        <p>On this tab you may create a Gameplay where you control the time and text for each prompt.</p>
        <div class="formlike">
            <i class="fa fa-question-circle help" title="_(Click for help)"></i>
            <p class="help-text">
                Find a video you like on YouTube and copy the URL for the video from the URL bar of your browser. Then paste that URL into the box below and click the <span class="button">Load</span> button.
            </p>

            <label>YouTube Video ID (or URL)
                <input type="text" name="video" value="" required pattern="[a-zA-Z0-9_-]{11}" />
            </label>
            <button class="loadVideo thr-blue-button" disabled>Load</button>
            <div class="player-container">
                <div class="player"></div>
                <i class="fa fa-question-circle help" title="_(Click for help)"></i>
                <ul class="help-text">
                    <li>
                    Once your video is loaded a box will appear below with the label "Start at". You may click in the box and type a time, or better yet, use the up and down arrow keys to adjust the start time of your video. Hold the shift key to make adjustments in 1 second steps.</li>
                    <li>
                    Once you have set the start time, click the play arrow (<i class="fa fa-play"></i>) inside the YouTube video window to start the video playing. As it plays, click the <span class="button">Add a Pause</span> button to add a pause point to your gameplay whenever you want. When the video is finished you can go back and fill in the <span class="field">Prompt</span> text for each pause.</li>
                    <li>
                    You will also be able to adjust the times using the arrow keys so don't worry about getting them in exactly the right places on the first play through.</li>
                </ul>
                <button class="add-pause thr-blue-button" disabled>Add A Pause</button>
                <ul class="timepoints">
                </ul>

            </div>
            <i class="fa fa-question-circle help" title="_(Click for help)"></i>
            <p class="help-text">
                Pressing the Play button will open a new browser window where you can try your gameplay. You may share your newly created game with anyone simply by copying the URL from that window and sharing it with others. No one without the URL will be able to see it.
            </p>
            <button class="play thr-blue-button" disabled>Play</button>

        </div>

    </div>
    <div id="advanced" class="tab-content">
        <p>On this tab you may create a Gameplay with multiple prompts that continue, start over, quit, or jump to a time you specify. You might use this tab for example to create a <em>choose your own adventure</em> style gameplay.</p>
        <div class="formlike">
            <i class="fa fa-question-circle help" title="_(Click for help)"></i>
            <p class="help-text">
                Find a video you like on YouTube and copy the URL for the video from the URL bar of your browser. Then paste that URL into the box below and click the <span class="button">Load</span> button.
            </p>
            <label>YouTube Video ID (or URL)
                <input type="text" name="video" value="" required pattern="[a-zA-Z0-9_-]{11}" />
            </label>
            <button class="loadVideo thr-blue-button" disabled>Load</button>
            <div class="player-container">
                <div class="player"></div>
                <i class="fa fa-question-circle help" title="_(Click for help)"></i>
                <ul class="help-text">
                    <li>
                    Once your video is loaded a box will appear below with the label <span class="field">Start at</span>. You may click in the box and type a number of seconds, or better yet, use the up and down arrow keys to adjust the start time of your video. Hold the shift key to make adjustments in 1 second steps.</li>
                    <li>Once you have set the start time, click the play arrow (<i class="fa fa-play"></i>) inside the YouTube video window to start the video playing. As it plays, click the <span class="button">Add a Pause</span> button to add a pause point to your gameplay whenever you want. When the video is finished you can go back and fill in the <span class="field">Choice</span> text for each pause. You may also adjust the response to the user's choice using the <span class="field">Action</span> selector.</li>
                    <li>You can add additional choices for any of the pause points by clicking the little <i class="fa fa-plus-square"></i> button in the Choice box. This way you can present a player with multiple choices that result in either continuing, starting over, quitting, or jumping to a new point in the video. If you choose to jump to a new time, you can click in the box that appears after the "Jump to" label and again use your arrow keys to adjust the time.
                    </li>
                </ul>
                <button class="add-pause thr-blue-button" disabled>Add A Pause</button>
                <ul class="timepoints">
                </ul>

            </div>
            <i class="fa fa-question-circle help" title="_(Click for help)"></i>
            <p class="help-text">
                Pressing the Play button will open a new browser window where you can try your gameplay. You may share your newly created game with anyone simply by copying the URL from that window and sharing it with others. No one without the URL will be able to see it.
            </p>
            <button class="play thr-blue-button" disabled>Play</button>

        </div>

    </div>

    {{#loggedin}}
        <h2>Save your Gameplay</h2>
        <i class="fa fa-question-circle help" title="_(Click for help)"></i>
        <ul class="help-text">
            <li>You can play and share your gameplay by clicking the <span class="button">Play</span> button above to open a new window. If you copy and share the URL of that window, anyone may enjoy your gameplay.</li>
            <li>You may also share your gameplay on our site by submitting the following form.</li>
            <li>Click the <span class="button">Draft</span> button to save your gameplay as a draft or to revert a previously published gameplay to draft status. Draft games are not included in the list available to everyone.</li>
            <li>Click the <span class="button">Publish</span> button to publish your gameplay on the site so that everyone can enjoy it.
        </ul>
        <form id="save-gameplay">
            <label>Title
                <input type="text" name="title" placeholder="Title for your gameplay" required />
            </label>
            <label>Author
                <input type="text" name="author" placeholder="Author pseudonym" required value="{{user}}" />
            </label>
            <label>Audience rating
                <select name="audience">
                    <option value="E">E/Everybody</option>
                    <option value="C">C/Caution</option>
                </select>
            </label>
            <label>Topic
                <select name="topic">
                    <option value="">None</option>
                    {{#topics}}
                    <option value="{{value}}">{{label}}</option>
                    {{/topics}}
                </select>
            </label>
            <label>Language
                <select name="language">
                    {{#languages}}
                    <option value="{{value}}">{{label}}</option>
                    {{/languages}}
                </select>
            </label>
            <div id="errors"></div>
            <div id="messages"></div>
            <button type="button" id="draft" type="button" class="thr-blue-button">
                Draft</button>
            <button type="button" id="publish" type="button" class="thr-blue-button">
                Publish</button>
        </form>
    {{/loggedin}}
</div>