<li class="tp-{{type}}">
    <label>{{timeLabel}}:
        <input type="number" name="time" value="{{time}}" step="0.1"
            placeholder="Enter time" title="Use up and down arrow to adjust the time. Use shift for bigger steps." />
    </label>
    {{#single}}
    <label>Prompt:
        <input type="text" name="message" value="{{message}}"
            placeholder="Enter message" />
    </label>
    {{/single}}
    <button class="delete-pause picon" title="delete pause">
        <i class="fa fa-trash-o" ></i>
    </button>
    {{#multiple}}
    <ol>
        {{{prompts}}}
    </ol>

    {{/multiple}}
</li>
