<noscript>
<p>_(You must have Javascript enabled in order use this page.)</p>
</noscript>
{{#user}}
   <div class="quickNavigation">
        <img class="help" src="/theme/images/help.png" title="_(Click for help)" alt="_(Click for help)"/>
        <p class="help-text" title="_(Quick Navigation)">_(Links to the main sections of this page are listed below. You may choose to use these links to help you get to the different sections of this page.)</p>
        <h2>_(Quick Navigation)</h2>
        <ul>
            <li class="draftBooksHeaderLink">_(Your Draft Gameplays)</li>
            <li class="publishedBooksHeaderLink">_(Your Published Gameplays)</li>
        </ul>
   </div>
   <div class="container">
        <img class="help" src="/theme/images/help.png" title="_(Click for help)" alt="_(Click for help)"/>
        <p class="help-text" title="_(Your Draft Gameplays)">_(Your draft Gameplays are listed below. Click on a title to expose a menu that will allow you to edit or delete it.)</p>
        <h2 class="draftBooksHeader">_(Your Draft Gameplays)</h2>
        {{#has_drafts}}
        <ul class="controlList booksList draftBooks">
            {{#drafts}}
            <li data-id="{{ID}}" data-link="{{{link}}}">
                <span>{{#title}}{{title}}{{/title}}{{^title}}_(untitled){{/title}}</span>
                <div>
                    <p>{{#title}}{{title}}{{/title}}{{^title}}_(untitled){{/title}}</p>
                    <button data-action="edit">_(Edit|Button label)</button>
                    <button data-action="delete">_(Delete|Button label)</button>
                    <button data-action="cancel">_(Cancel|Button label)</button>
                </div>
            </li>
           {{/drafts}}
        </ul>
        {{/has_drafts}}
        {{^has_drafts}}
        <p>_(If you had any Gameplays saved as drafts they would appear here.)</p>
        {{/has_drafts}}
   </div>

    <div id="container">
        <img class="help" src="/theme/images/help.png" title="_(Click for help)" alt="_(Click for help)"/>
        <p class="help-text" title="_(Your Published Gameplays)">_(Your published Gameplays are listed below. Click on a title to expose a menu that will allow you to edit it. From the editor you may return a gameplay to draft status by clicking Save as Draft.)</p>
        <h2 class="publishedBooksHeader">_(Your Published Gameplays)</h2>
        {{#has_published}}
        <ul class="controlList booksList publishedBooks">
            {{#published}}
            <li data-id="{{ID}}" data-link="{{{link}}}">
                <span>{{title}}</span>
                <div>
                    <p>{{title}}</p>
                    <button data-action="edit">_(Edit|Button label)</button>
                    <button data-action="cancel">_(Cancel|Button label)</button>
                </div>
            </li>
            {{/published}}
        </ul>
        {{/has_published}}
        {{^has_published}}
        <p>_(If you had any published Gameplays they would be listed here.)</p>
        {{/has_published}}
    </div>


{{/user}}
{{^user}}
<p class="notLoggedIn">_(You must be logged in to see your draft and published Gameplays.) <a class="thr-blue-button" href="/login/?goto=your-gameplays">_(Log In|link label)</a></p>
{{/user}}
